.idvisual-preto { background-color: get($idvisual, preto); }
.idvisual-azul { background-color: get($idvisual, azul);  }
.idvisual-azul-escuro { background-color: get($idvisual, azul-escuro);  }
.idvisual-amarelo { background-color: get($idvisual, amarelo);  }
.idvisual-amarelo-escuro { background-color: get($idvisual, amarelo-escuro);  }
.idvisual-laranja { background-color: get($idvisual, laranja);  }
.idvisual-vinho { background-color: get($idvisual, vinho);  }

.idvisual-logo-xs { background-image: url(/id-visual/logo/xs.png);  }
.idvisual-logo-sm { background-image: url(/id-visual/logo/sm.png);  }
.idvisual-logo-md { background-image: url(/id-visual/logo/md.png);  }
.idvisual-logo-lg { background-image: url(/id-visual/logo/lg.png);  }
.idvisual-logo-xlg { background-image: url(/id-visual/logo/xlg.png);  }
.idvisual-logo-xxlg { background-image: url(/id-visual/logo/xxlg.png);  }
.idvisual-logo-xxxlg { background-image: url(/id-visual/logo/xxxlg.png);  }